.banner img {
  max-width:100% !important;
  height:auto !important;
}

.container {
  margin-right:auto;
  margin-left:auto;
  padding-left:10px;
  padding-right:10px;
}

@media (min-width: 992px) {
  .container {
    width:990px;
  }
}

@media (min-width: 768px) {
  .container {
    width:760px;
  }
}

@media (min-width: 1200px) {
  .container {
      width: 1150px;
  }
}

#text-shop{
 text-align: center;
 font-family: 'Trebuchet MS';
 color:rgb(255, 142, 160);
 padding-top: 50px;
}

.col-md-4{
 float: center;
 padding: 0;
 padding-bottom: 20px;
}

.col-md-4 img{
width: 80%;
height: auto;
padding: 10px;
}

.col-md-6{
float:center;
padding: 0;
padding-bottom: 20px;
}

.col-md-6 img{
width: 80%;
height: auto;
padding: 10px;
}
 
@media (min-width: 992px) and(max-width: 1200px) {
.col-md-4 {
  width:33.333%;
}
}

@media (max-width: 768px) {
.col-md-6 {
    width: 50%;
}
}

.pagination{
float: right;
padding-right: 50px;
}

.col-md-4 #name, #price{
font-family: 'Trebuchet MS';
text-align: center;
} 