.banner img, .home-banner img {
    max-width:100% !important;
    height:auto !important;
  }
  
  .content-top {
    font-family:'muliregular';
    font-size:14px;
    color:#373737;
    line-height:2;
    padding:16px 0;
    text-align:center;
  }

  .container-body {
    margin-right:auto;
    margin-left:auto;
    padding-left:10px;
    padding-right:10px;
  }
  
  @media (min-width: 992px) {
    .container {
      width:990px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      width:760px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
        width: 1150px;
    }
  }
  
 #text-shop{
   text-align: center;
   font-family: 'Trebuchet MS';
   color:rgb(255, 142, 160);
   padding-top: 50px;
 }

 .col-md-4{
   width: 33.333%;
   float: left;
   text-align: center;
 }

 .col-md-4 img{
  width: 100%;
  padding: 10px;
}
   
 @media (min-width: 992px) {
  .col-md-4 {
    width:33.333%;
  }
}

@media (min-width: 768px) {
  .col-md-12  {
    width:100%;
  }
}

@media (min-width: 1200px) {
  .col-md-4 {
      width: 33.33%;
  }
}

#text-shop-small{
  text-align: center;
  color: grey;
  padding-bottom: 50px;
  font-family: 'Trebuchet MS'
}

.best-seller{
  padding-bottom: 50px;
}

.best-seller img{
  width: 100%;
  padding: 5px;
}

.best-seller #name, .best-seller #price{
  font-family: 'Trebuchet MS';
  text-align: center;
  width: 100%;
}
