#btn-home:hover, #btn-browse:hover, #btn-about-us:hover{
    color: rgb(255, 142, 160);
}

.navbar-brand {
    padding: 0;
  }
  .navbar-brand>img {
    height: 100%;
    width: 100%;
  }

  @media (min-width: 768px){
    .navbar-right {
        float: right!important;
        margin-right: -150px;
  }
  }

.navbar-default{
    background: white;
    border-color: none;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #333;
    border-radius: 0;
    box-shadow: none;
    border: none;
    margin-bottom: 0;
}


  