#btn-home:hover, #btn-browse:hover{
    color: pink;
}

.navbar{
    line-height: 100px;
}

.navbar-default{
    background: white;
    border-color: none;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #333;
    border-radius: 0;
    box-shadow: none;
    border: none;
    margin-bottom: 0;
}

.navbar-brand>img {
margin: 0;
padding: 0;
}

  